*.py[cod]

# Django stuff:
local_settings.py
db.sqlite3
db.sqlite3-journal

# Database secrets
.env

# Static and Media
staticfiles/
media/

# Virtual environment
venv/
ENV/
.env/

# IDE stuff
.vscode/
.idea/
*.swp
*.swo
